<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="//db.onlinewebfonts.com/c/fc5a49c391d41d90e89afde248af7921?family=maydogg" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="icon" href="../images/icon_dog.png" type="image/x-icon" />
    <title>Perfil de Mascota</title>
  </head>

  <body class="petForms">
     <center> 
    <h1><span> Perfil de <%= pet.name%> </span> </h1><hr>
        <table>
            <tr>
                <td><b>Nombre:</b></td>
                <td><%= pet.name%></td>
                <td rowspan="4">
                         <img class="profilePic" src=<%=pic.picture%> alt=<%= pet.name%> >
                </td>
            </tr>
            <tr>
                <td><b>Pais:</b></td>
                <td><%= pet.country%></td>
            </tr>
            <tr>
                <td><b>Estado:</b></td>
                <td><%= pet.state %></td>
            </tr>
            <tr>
                <td><b>Ciudad:</b></td>
                <td><%= pet.city %></td>
            </tr>
            <tr>
                <td><b>Descripcion:</b></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3"><%= pet.description %></td>
                <td></td>
            </tr>
        </table>
        <div><i>No olvides Subscribirte para adoptar!!</i></div>
    </center> 
  </body>
</html>
