<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="//db.onlinewebfonts.com/c/fc5a49c391d41d90e89afde248af7921?family=maydogg" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/app.css"/>
    <title>Perfil de Usuario</title>
  </head>
  <body>
    <h1>Bienvenido <%= user.name%> </h1>
    <section>
    <form action="/auth/profile/<%=user.id%>?_method=PUT" method="POST">
        <table class="userForms">
            <tr>
                <td><b>Nombre:</b></td>
                <td><input type="text" name="name" value=<%= user.name%>></td>
            </tr>
            <tr>
                <td><b>Apellido:</b></td>
                <td><input type="text" name="lastname" value=<%= user.lastname%>></td>
            </tr>
            <tr>
                <td><b>Celular:</b></td>
                <td><input type="text" name="telephone" value=<%= user.telephone%>> </td>
            </tr>
            <tr>
                <td><b>E-mail:</b></td>
                <td><input type="text" name="email" value=<%= user.email%>></td>
            </tr>
            <tr>
                <td><b>Usuario:</b></td>
                <td><input type="text" name="username" value=<%= user.username %>></td>
            </tr>
            <tr>
                <td><b>Contraseña:</b></td>
                <td><input type="password" name="password" value=<%= user.password %>></td>
            </tr>
            <tr>
                <td><b>Pais:</b></td>
                <td><input type="text" name="country" value=<%= user.country %>></td>
            </tr>
            <tr>
                <td><b>Estado:</b></td>
                <td><input type="text" name="state" value=<%= user.state %>></td>
            </tr>
            <tr>
                <td><b>Ciudad:</b></td>
                <td><input type="text" name="city" value=<%= user.city %>></td>
            </tr>
            <tr>
                <td><b>ZIP:</b></td>
                <td><input type="text" name="zip" value=<%= user.zip %>></td>
            </tr>
            <tr>
                <td>
                    <center>
                        <input type="submit" value="Editar" />
                    </center>
                </td>
            </form>
            <form action="/users/<%=user.id%>?_method=DELETE" method="POST">
                <td>
                    <center>
                        <input type="submit" value="Borrar" />
                    </center>
                </td>
            </form>
            <form action="/pets/new/<%=user.id%>" method="GET">
                <td>
                    <center>
                        <input id="createPet" type="submit" value="Crear Adopcion">
                    </center>
                </td>
            </form>
            </tr>
        </table>
    </section>
     
    <% if(isOwner){ %>
    <section>
        <h3>Mis Mascotas en Adopcion</h3>
        <ul>
        <% user.Pets.forEach(pet =>{
            let path = `/pets/profile/${pet.id}?own=${user.id}`;%>
            <li><a href=<%= path %> alt=<%=pet.name%> > <%=pet.name%> </a> </li>
        <%})%>
       </ul>
    </section>
    <%};
    if(isAdopter){%>
        <section>
            <h3>Mis Mascotas Adoptadas</h3>
            <ul>
            <% user.Pets.forEach(pet =>{
                let path = `/pets/profile/${pet.id}?own=${user.id}`;%>
                <li><a href=<%= path %> alt=<%=pet.name%> > <%=pet.name%> </a> </li>
            <%})%>
           </ul>
        </section>
        <section>
            <% let path=`/adoptions?own=${user.id}`%>
         <a href=<%= path %> alt='Gallery' ><div>Ir a Galeria </div></a>
        </section>
    <%}%>

  </body>
</html>
