<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="//db.onlinewebfonts.com/c/fc5a49c391d41d90e89afde248af7921?family=maydogg" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/app.css"/>
    <link rel="icon" href="../images/icon_dog.png" type="image/x-icon" />
    <title>Perfil de Usuario</title>
  </head>
  <body>
    <h1>Bienvenido <%= user.name%> </h1><hr align="left">
    <section>
    <form action="/auth/profile/<%=user.id%>?_method=PUT" method="POST">
        <table class="tableForms">
            <tr>
                <td><b>Nombre:</b></td>
                <td><input type="text" name="name" value=<%= user.name%>></td>
            </tr>
            <tr>
                <td><b>Apellido:</b></td>
                <td><input type="text" name="lastname" value=<%= user.lastname%>></td>
            </tr>
            <tr>
                <td><b>Celular:</b></td>
                <td><input type="text" name="telephone" value=<%= user.telephone%>> </td>
            </tr>
            <tr>
                <td><b>E-mail:</b></td>
                <td><input type="text" name="email" value=<%= user.email%>></td>
            </tr>
            <tr>
                <td><b>Usuario:</b></td>
                <td><input type="text" name="username" value=<%= user.username %>></td>
            </tr>
            <tr>
                <td><b>Contraseña:</b></td>
                <td><input type="password" name="password" value=<%= user.password %>></td>
            </tr>
            <tr>
                <td><b>Pais:</b></td>
                <td><input type="text" name="country" value=<%= user.country %>></td>
            </tr>
            <tr>
                <td><b>Estado:</b></td>
                <td><input type="text" name="state" value=<%= user.state %>></td>
            </tr>
            <tr>
                <td><b>Ciudad:</b></td>
                <td><input type="text" name="city" value=<%= user.city %>></td>
            </tr>
            <tr>
                <td><b>ZIP:</b></td>
                <td><input type="text" name="zip" value=<%= user.zip %>></td>
            </tr>
            </table>
            <container>
                <div>
                    <center>
                        <input type="submit" value="Editar" />
                    </center>
                </div>
            </form>
            <form action="/users/<%=user.id%>?_method=DELETE" method="POST">
                <div>
                    <center>
                        <input type="submit" value="Borrar" />
                    </center>
                </div>
            </form>
            <%if(canCreate){%>
            <form action="/pets/new/<%=user.id%>" method="GET">
                <div>
                    <center>
                        <input id="createPet" type="submit" value="Crear Adopcion">
                    </center>
                </div>
            </form>
            <%}%>
            <div>
                    <% let path=`/adoptions?own=${user.id}`%>
                <a class="button" href=<%= path %> alt='Gallery' ><div>Ir a Galeria </div></a>
            </div>
        </container>
    </section>
     
    <% if(isOwner){ %>
    <section class="adpProc">
        <h3>Mis Mascotas en Adopcion</h3>
        <form action="/adoptions?_method=PUT" method="POST">
                <table>
                    <% let petStats=false;
                        oPets.forEach(pet =>{
                        let path = `/pets/profile/${pet.id}?own=${user.id}`; %>
                        <tr>
                            <td><a href=<%= path %> alt=<%=pet.name%> > <%= pet.name %> </a></td>
                            <% let status='';
                            if(pet.statusId==1) {
                                status='En Adopcion';%>
                                <td> <%=status%> </td>
                            <%}else if (pet.statusId==2){
                                status='Aprov. Pendiente';
                                petStats=true; %>
                                <td> <%=status%> </td>
                                <td>
                                        <input type="radio" name=<%=pet.id%> value="A">
                                        <label for="approve">Aprobar</label>
                                        <input type="radio" name=<%=pet.id%> value="R">
                                        <label for="reject">Rechazar</label>
                                        <input type="radio" name=<%=pet.id%> value="C">
                                        <label for="cancel">Cancelar</label>
                                </td>
                        </tr> 
                    <%}})%>
                    <%if(petStats){%>
                    <tr>
                        <td></td>
                        <td><input type="hidden" name='oId' value=<%=user.id%>></td>
                        <td>                                
                            <input type="submit" value="Procesar">
                        </td>
                    </tr>
                    <%}%>
                </table>
        </form>
    </section>
    <%};
    if(isAdopter){%>
        <section class="adpProc">
            <h3>Mis Adopiones</h3>
            <ul>
            <% adpingPets.forEach(pet =>{
                let path = `/pets/profile/${pet.id}?own=${user.id}`;
                let adpStat='';
                if(pet.statusId==1){
                    adpStat='- En Adopcion';
                } else if (pet.statusId==2){
                    adpStat='- En Revision';
                } else if (pet.statusId==3){
                    adpStat='- Ya es tuyo !!';
                }   %>
                <li><a href=<%= path %> alt=<%=pet.name%> > <%=pet.name%></a> <%=adpStat%> </li>
            <%})%>
           </ul>
        </section>
    <%}%>
  </body>
</html>
